<h1>My Movie Lists</h1>

<h3><%= link_to "Create new list", new_list_path %></h3>


<ul>
<% @lists.each do |list| %>
<li><%= link_to list.name, list_path(list) %></li>
<%= cl_image_tag @list.photo.key, height: 300, width: 400, crop: :fill %>
<% end %>
</ul>
